<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>CHAMPION</title>
</head>
<body style="background-color:lavenderblush;">
<h1> </h1>
 <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="lname">Email:</label><br>
  <input type="text" id="lname" name="lname"><br>
<h3>C programming Quiz I</h3>

<form method="post" action="mailto:raizen@mail.utexas.edu?subject=c programmin quiz" enctype="text/plain">
<li>What it is the output?

#include<stdio.h><br>

int main()<br>

{<br>

int i,j,*ptr,*ptr1;<br>

i=10;<br>

j=10;<br>

ptr=&i;<br>

ptr=&j;<br>

if(ptr==ptr1)<br>

{<br>

printf("True");<br>

}<br>

else<br>

{<br>

printf("False");<br>

}<br>

}</li><br />

<input type="radio" name="ans1" value="0"/>1<br />

<input type="radio" name="ans1" value="10"/>False<br />

<input type="radio" name="ans1" value="0"/>Compile error<br />

<input type="radio" name="ans1" value="0"/>No output<br /><br />

<li>Comment on the following<br> const int *ptr;</li><br />

<input type="radio" name="ans2" value="10"/>You cannot change the value pointed by ptr<br />

<input type="radio" name="ans2" value="0"/>You can change the value of the pointer <br />

<input type="radio" name="ans2" value="0"/>You can change the pointer as well as the value pointed by it<br />

<input type="radio" name="ans2" value="0"/>None of these<br /><br />

<li>What is the output of the following program ?<br>

#include<stdio.h><br>

void main()<br>

{<br>

int a;<br>a='a'>'A';<br>printf("%d", a);<br>getch()<br>}<br>

<input type="radio" name="ans5" value="0"/>Null<br />

<input type="radio" name="ans5" value="0"/>Error<br />

<input type="radio" name="ans5" value="0"/>0<br />

<input type="radio" name="ans5" value="10"/>1<br /><br />

<li>For passing command line argument the main function should be like</li><br />

<input type="radio" name="ans5" value="10"/>int main(int argc, char *argv[]<br />

<input type="radio" name="ans5" value="0"/>int main(int argc)<br />

<input type="radio" name="ans5" value="0"/>int main(char *argv[])<br />

<input type="radio" name="ans5" value="0"/>int main(char *argv[], int argc)<br /><br />

<li>Where the local variables are stored ?</li><br />

<input type="radio" name="ans6" value="0"/>Disk<br />

<input type="radio" name="ans6" value="10"/>Stack<br />

<input type="radio" name="ans6" value="0"/>Heap<br />

<input type="radio" name="ans6" value="0"/>OS<br /><br />

<li>What it is the fomat of conditional operator ?</li><br />

<input type="radio" name="ans7" value="10"/>Condition? true value:false value<br />

<input type="radio" name="ans7" value="0"/>Condition! true value:false value<br />

<input type="radio" name="ans7" value="0"/>Condition? false value:true value<br />

<input type="radio" name="ans7" value="0"/>Condition? true value::false value<br /><br />

<li>What is the purpose of ftell?</li><br />

<input type="radio" name="ans8" value="0"/>To get the current file name<br />

<input type="radio" name="ans8" value="0"/>To get the current file status<br />

<input type="radio" name="ans8" value="0"/>To get the current file attributes<br />

<input type="radio" name="ans8" value="10"/>To get the current file position<br /><br />

<li>What will be the output of the below code?<br>#include<stdio.h><br>int main()<br>{<br>float f=0.1;<br>if(f==0.1)<br>{<br>printf("NO");<br>}<br>return 0;<br>}</li><br />

<input type="radio" name="ans9" value="0"/>No output<br />

<input type="radio" name="ans9" value="0"/>NO<br />

<input type="radio" name="ans9" value="10"/>Successfully compiled but no output<br />

<input type="radio" name="ans9" value="0"/>Error<br /><br />

<li>Which of the below function is not declared in string.h?</li><br />

<input type="radio" name="ans10" value="10"/>strptr()<br />

<input type="radio" name="ans10" value="0"/>strcpy()<br />

<input type="radio" name="ans10" value="0"/>strlen()<br />

<input type="radio" name="ans10" value="0"/>strupr()<br /><br />

</ol>





<br>
<br>
<br>
<br>
<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">
</form>
</body>
</html>